<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3><%= /*1+ 3*/ ["hello","ayush","katiyar"][1].toUpperCase() %></h3>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt velit animi debitis optio ipsam libero voluptatum! Non ullam quos eius deserunt pariatur quidem, dolores odit, aspernatur sapiente ut molestiae ab!</p>
    <button>Click ME!</button>
</body>
</html>